{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="{% static 'eduprod/styles.css' %}" rel="stylesheet">
        <script src="{% static 'eduprod/scripts.js' %}" defer></script>   
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'ratel' %}">Ratel</a></li>
                <li><a href="#">Fieldcraft</a></li>
                <li><a href="#">Navigation</a></li>
                <li><a href="{% url 'quiz' %}">First Aid</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Cadet Basic Revision Webpage</h1>
            <p>
                This page is dedicated to basic cadet revision, and all of its content should be understood by cadets aiming to earn and be applicable for a Rank.
            </p>
            <p>Cadets is the best yayayayayayayayayayayyayayayayyayayayyayay!!!!!!</p>
            <img class="will" src="{% static 'eduprod/mogging.jpeg' %}" alt="Will Mogging">
        </div>
    </body>
</html>

 <!--
About the Website:

=================================================================================================================================
    QUOTES LIST (a list of quotes and misery compiled whilst making this website)
=================================================================================================================================

    "It [her code] will go die in a hole" - Elena Russell, 4:07pm 19th March 2024
    *Max and Christian talking the entire class* "And i was told i talk too much" - Inidana Thom, 2:58pm 21st March 2024


-->