{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="{% static 'users/styles.css' %}" rel="stylesheet">
        <script src="{% static 'eduprod/quiz.js' %}" defer></script>   
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'eduprod:index' %}">Home</a></li>
                <li class="dropdown"><a>Content</a>
                    <div class="dropdown-content">
                        <a href="{% url 'eduprod:ratel' %}">Ratel</a>
                        <a href="{% url 'eduprod:fieldcraft' %}">Fieldcraft</a>
                        <a href="{% url 'eduprod:navigation' %}">Navigation</a>
                        <a href="{% url 'eduprod:quiz' %}">First Aid</a>
                    </div>
                </li>
                <li class="dropdown"><a>Lesson Plans</a>
                    <div class="dropdown-content">
                        <a href="#haha_youre_dumb_asf#">Ratel</a>
                        <a href="#">Fieldcraft</a>
                        <a href="#">Navigation</a>
                        <a href="#">First Aid</a>
                    </div>
                </li>
                <li><a href="{% url 'users:logout' %}" style="position: absolute; top: 0; right: 0; margin: 0px;" id="logout">{{ request.user.username }} - Logout</a></li>
            </ul>
        </nav>
        <br>
    </header>
    <body>

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>

 <!--
About the Website:

=================================================================================================================================
    QUOTES LIST (a list of quotes and misery compiled whilst making this website)
=================================================================================================================================

    "It [her code] will go die in a hole" - Elena Russell, 4:07pm 19th March 2024
    *Max and Christian talking the entire class* "And i was told i talk too much" - Indiana Thom, 2:58pm 21st March 2024


-->