.container {
    width: 75%; 
    margin: 50px auto; 
    border: 1px solid #ccc;
    padding: 20px;
    max-height: 100%; 
    overflow-y: auto; 
    background-color: #fff;
    border-radius: 0px;
}


.pageInfo { 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; padding: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

}

.will{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question, .answer { 
    margin: 20px; font-size: 18px; 
}

#revealBtn { 
    margin: 20px; font-size: 16px; cursor: pointer;
 }

nav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555;
}

body {
    background-color: #dadada;
}

.user-info {
    display: inline-block;
}

.logout {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    margin-right: 5px;
}

.logout:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #332;
    width: 100%;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}