.container {
    width: 75%; 
    margin: 50px auto; 
    border: 1px solid #ccc;
    padding: 20px;
    max-height: 100%; 
    overflow-y: auto; 
    background-color: #fff;
    border-radius: 7px;
}

.pageInfo { 
    font-family: Arial, sans-serif; padding: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

}

.will{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question, .answer { 
    margin: 20px; font-size: 18px; 
}

#revealBtn { 
    margin: 20px; font-size: 16px; cursor: pointer;
 }

nav {
    background-color: #333;
    position: fixed;
    width: 110%;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555;
}

body {
    background-color: #dadada;
}